.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.mainBox {
    width: 60%;
    background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
    padding: 2rem;
    align-self: center;
    display: flex;

}

.innerBox {
    width: 100%;
    background-color: azure;
    border-radius: 1rem;
}