.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.header {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subTitle {
    min-height: 6rem;
}

.mainBox {
    width: 60%;
    max-width: 600px;
    background-color: white;
    padding: 2rem;
    align-self: center;
    display: flex;
}

.innerBox {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: #fff29b;
    border-radius: 1rem;
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rollButton {
    min-width: 10rem;
    padding: 0.5rem 1rem;
    outline: none;
    cursor: pointer;
    background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
    border: 1px solid white ;
    border-radius: 1rem;
    color: white;
    font-weight: 700;
    font-size: medium;
}

.rollButton:active {
    background-image: linear-gradient(to right, #ff4e50 0%, #ff4e50 100%);
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.4);
    border-color: #fff29b;
}

.winner {
    color: #ff4e50;
}